In [1]:
#logic  check the number is even or odd --- 10 15 
#time --- waste
#line -- code 
#resource --- 10L --
#project issues -- time, line, cost 

#block of code (start, end) point --- statement --- functional statement

# def :- define to a function

'''
syntax

def function_name():
    logic 
    return data

function_name()


when we will call a function with help of function_name, after that function will execute.

Adv :

1. function reduce duplicacy.
2. reduce time and line code.
4. code is more optimize.

'''

'\nsyntax\n\ndef function_name():\n    logic \n    return data\n\nfunction_name()\n\n\nwhen we will call a function with help of function_name, after that function will execute.\n\nAdv :\n\n1. function reduce duplicacy.\n2. reduce time and line code.\n4. code is more optimize.\n\n'

In [8]:
#write a function in basic way

def wish():
    return 'Hi Good morning all'

wish()
print(wish())
print(wish())

Hi Good morning all
Hi Good morning all

In [10]:
#why paraentheisis used in a function?

'''parathensis used in a function to pass the parameter inside a function

number of parameter pass in function, as time of call that same function pass arguments as well.'''

#what is parameter :- when we will execute a function, in that time we will pass some variable name inside the parathensis that's know as paranmeter.
#based on program req we will pass the parameter.

def add(a,b):#
    add = a+b
    return add


add(10)

TypeError: add() missing 1 required positional argument: 'b'

In [15]:
#write a program check the number is even or odd

'''def is_even_odd(num):
    if num%2==0:
        return 'Even'
    
    else:
        return 'Odd'

is_even_odd(13)'''

'Odd'

In [16]:
#write function found the biggest number between 3 int.

def is_biggest(a,b,c):
    if a>b and a>c:
        return f'{a} is biggest'
    elif b>c:
        return f'{b} is biggest'
    else:
        return f'{c} is biggest'

is_biggest(10,20,14)

'20 is biggest'

In [19]:
#write function check the number is armstrong or not?

def is_armstrong(num):
    length = len(str(num))

    res = 0
    for i in str(num):
        res = res+int(i)**length

    return res == num

is_armstrong(154)

False

In [28]:
#write function generate a fibonaccy series based on end user req.


def fib_series(num):
    fib_list = [0,1]
    
    for i in range(num-2):
        fib_list.append(fib_list[-2]+fib_list[-1])
    
    return fib_list

fib_series(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
#relationship between parameter and arguments

def f1 (): #fab arguments-- relationship args --- parameter


f1() :- actual arguments--- args

In [1]:
#types parameter or types arguments
'''
in python there are 4 types args'''

#positional args
#keyword args
#deafult args
#variable length args

'\nin python there are 4 types args'

In [23]:
#positinal arguments

'''def add(a,b,c):
    return a+b+c

add(10,20,30)'''

#keyword args.

'''def candidate_deatils(name,age,salary,address):
    return f'Name of the candidate is :-{name}, age is {age}, salary is:{salary}, address is :- {address}'

candidate_deatils(address='Odisha',salary=78000,age=25,name='Vivek')'''


#default args

'''def wish_mrg(guest_name='Uncle'):
    return f'Hi welcome {guest_name} to my sister mrg fuc'

wish_mrg('Mishra Uncle')'''


#variable length of args.
'''*args ----- elements. --- tuple
# **kwargs -- key - value  --dict'''#(keyword variale length of arguments)


'''def f1(*args):
    print(type(args))
    print(args)'''

'''def f1(*args):
    add = 0

    for i in args:
        add +=i
    return add

f1(10,20,30,40,50,60,70,80,90,100)'''



'''def f1(**kwargs):
    print(type(kwargs))'''

'''def f1(**kwargs):
    print(kwargs)

f1(name='Vivek',age=25,addres='Odisha')'''


'''server-- 24 hrs -- ipadress hit count

def ip_count(*args):
    return len(args)


ip_count(ip1,ip2,ip) '''

{'name': 'Vivek', 'age': 25, 'addres': 'Odisha'}

In [1]:
#types variables
#lambda function
#map filter reduce

In [7]:
#global variable:-
'''
variable declare in outside of function and it's excute both outside and inside of the function
'''

'''a = 10
print('outside of the func:-',a)
def f1():
    print('inside of the func:-',a)

f1()'''



#local variable:- 
''' inside a function declare a variable , and that variable only accessable by the function only.'''


def f1():
    a = 10
    print('inside the fuc:-',a)

f1()
print('outside of the func:-',a)

inside the fuc:- 10
outside of the func:- 10

In [8]:
def f1():
    global a
    a = 10
    print('inside the fuc:-',a)

f1()

def f2():
    print('outside of the func:-',a)

f2()

SyntaxError: expected ':' (2430878422.py, line 8)

inside the fuc:- 10
outside of the func:- 10

In [10]:
#anonomyous function or lambda function
''' 
anonomyous functiona is a nameless function or a function have no name 
anonomyous function declare by the lambda keyword.
lambda or anonomyous function is a single file function , like list com, terrnary op.
'''
#syntax
'''var= lambda parameter:logic'''

'var= lambda parameter:logic'

In [11]:
#write a addition function help of lambda

var = lambda a,b:a+b

var(10,20)

30

In [13]:
#write lambda function check number is even or odd

var = lambda num :num%2==0
var(11)

False

In [14]:
#write a lambda function , check the number is pallindrom or not?

''' = lambda num : str(num)==str(num)[::-1]
var(121)'''

True

In [21]:
#write lambda function take list of int and return even number only.

#filter , map, reduce

#filter :- based on conditional function, it will filter the value from a collection
'''
synatx :-
var = filter(conditional_function, collection)'''

'''li = [12,15,18,13,19,22,43,67,88,92,90]

var = list(filter(lambda num:num%2==0,li))'''


li = [67,90,'yu',56,.90,[78,90],'io']

var = filter(lambda data:type(data)==s

[12, 18, 22, 88, 92, 90]

In [7]:
#map :- modify the entier collection based on some function

# map(function_name,collection)

'''li = ['soumya','vivek','jibi','rupali']

var = list(map(lambda a:a.capitalize(),li))
print(var)

['Soumya', 'Vivek', 'Jibi', 'Rupali']

In [24]:
di = {
      'Name' :['soumya','vivek','jibi','rupali'], 
      'age':[25,27,21,28],
      'salary':[67000,50000,63000,58000]
     }

'''{'name':'a','age':[25,27,21,28],
      'salary':[67000,50000,63000,58000]}'''



di['Name']= list(map(lambda a:a.capitalize(),di['Name']))
di['age'] = list(map(lambda a: a+5,di['age']))
di['salary'] = list(map(lambda a:a+10000,di['salary']))
di

{'Name': ['Soumya', 'Vivek', 'Jibi', 'Rupali'],
 'age': [30, 32, 26, 33],
 'salary': [77000, 60000, 73000, 68000]}

In [42]:
di = {
      'Name' :['soumya','vivek','jibi','rupali'], 
      'age':[25,27,21,28],
      'salary':[67000,50000,63000,58000]
     }

index_jibi = di['Name'].index('jibi')

di['Name'] = list(filter(lambda a:a!='jibi',di['Name']))
di['age'] = list(filter(lambda a:di['age'][index_jibi]!=a,di['age']))
di['salary'] = list(filter(lambda a:di['salary'][index_jibi]!=a,di['salary']))
di

{'Name': ['soumya', 'vivek', 'rupali'],
 'age': [25, 27, 28],
 'salary': [67000, 50000, 58000]}

In [44]:
from functools import reduce 
'''syntax:-

reduce(function_name,collection)'''

li = [10,20,30,40]

var = reduce(lambda a,b:a+b,li)
print(var)

100

In [26]:
'''Nested function'''

'''def outer_function():
    print('outer function execute')
    def inner_function():
        print('inner function execute')

    inner_function()
    print('inner function completed')

outer_function()
print('outer function completed, if it is called')'''



'''def outer(exp):#2
    def inner(base):
        return base **exp
    return inner

squre = outer(4)#---- base point

print(squre(4))'''


'''def telecom_prepaid(day):
    def per_talk_time(base_min):
        price = day*base_min
        return price
    return per_talk_time

main_telecom_op = telecom_prepaid()

vivek = main_telecom_op(200)
print(vivek)

kiran = main_telecom_op(2000)
print(kiran)'''



'''write program , let a doctor has come to visit the hospital  monday to friday based on requirement per day 5 hours, and hospital auth per day 
can provide not more 10 pt and per pt charge 10rs, and per hr charge 5 rs., write program in nested function.'''


'''def dr_vivek(days=5,hours= 5):
    def hospital_provide_pt(pt):
        days_price_cal = (days*hours)*5
        pt_price = pt*10
        total =days_price_cal+pt_price
        return total,days_price_cal,pt_price
    return hospital_provide_pt

vivek_1st_week = dr_vivek(3)

hospital_provide_amount = vivek_1st_week(24)
print(hospital_provide_amount)'''



'''def dr_vivek(hours=5):
    def hospital_provide_pt(day_name,per_day_pt):
        day_price_cal = hours*5
        pt_price = per_day_pt*10
        total = day_price_cal+pt_price
        return day_name,total
    return hospital_provide_pt

vivek = dr_vivek(10)

monday_hopsital = vivek('Monday',8)
print(monday_hopsital)


tuesday_hopsital = vivek('Tuesday',2)
print(tuesday_hopsital)'''


# write program you have hight and width, radius  want calculate rect,squre,circle areas help of nested fucntion


def outer(area_name):
    if area_name == 'rect':
        def rect_area(height,width):
            area = height*width
            return area_name,area
        return rect_area
    elif area_name== 'squre':
        def squre_area(height,width):
            if height == width:
                area = height*width
                return area_name,area
            else:
                return 'hight and width must be same'
        return squre_area

    elif area_name=='circle':
        def circle(radius):
            area = 2*(22/7)*(radius)**2
            return area_name,area
        return circle


name = outer('circle')

rect_area = name(10)
print(rect_area)

('circle', 628.5714285714286)