In [1]:
#what is iteration
'''iteration is a process of repeatedly executing a block of code until a collection is complitaed or until a certain condition is met.'''
'''in python there are 2 types of iteation is avl'''
''' for loop (collectional iteration) (str, list, tuple, dict, range etc)'''
''' while loop (conditional iteration'''

#for loop:- 
'''for loop in python is used for itearting over the sequence such as lists, tuple, dict and string and others'''

# synatx


li = [10,20,30]

#syntax
'''for var_name in  collection_name:
        statement'''

for i in li:
    print(i)

10
20
30

In [3]:
#write a program check even number in a list and print it.

li = [10,33,21,56,34,22,43,11,89,98]


for i in li:
    if i%2==0:
        print(i)

10
56
34
22
98

In [6]:
#write a program check in a list, fetch pallindrom string

li_string = ['qwerty','mam','you','ete','madam','ko']


for i in li_string:
    if i == i[::-1]:
        print(f'{i} is a pallindrom')
    else:
        print(f'{i} is not a pallindrom')

qwerty is not a pallindrom
mam is a pallindrom
you is not a pallindrom
ete is a pallindrom
madam is a pallindrom
ko is not a pallindrom

In [8]:
#what is nested condition:- 
'''
i.when inside if write a another if then it called nested condition
ii. if outet_if is passed then inner_if will be exceute.

if condition:
    if condition:
        if condition:
            if condition:

'''


#write a program check in a list, fetch pallindrom string

li = ['qwerty',12,'mam',45,89,'you','ete',[12,89],(90,98),'madam','ko']


for i in li_string:
    if type(i)==str:
        if i == i[::-1]:
            print(i)

mam
ete
madam

In [13]:
#write a program check in list number is even, if it is check number is pallindrom or not.


li = [121,787,454,668,343,898]

for i in li:
    if i%2==0:
        if str(i) == str(i)[::-1]:
            print(i)

454
898

In [3]:
#have list of int, and want add 50 in each element and add those element in a another list.

li = [90,78,45,56,31,91]

new_li = []

for i in li:
    new_li.append(i+50)
print(new_li)

[140, 128, 95, 106, 81, 141]

In [7]:
#write a program check even number or odd number in a list and add them in a new li

li = [10,33,21,56,34,22,43,11,89,98]

even_li = []
odd_li = []

for i in li:
    if i%2==0:
        even_li.append(i)
    else:
        odd_li.append(i)
print(even_li)
print(odd_li)

[10, 56, 34, 22, 98]
[33, 21, 43, 11, 89]

In [10]:
user_input = eval(input('Enter a list'))

print(user_input)
print(type(user_input))

Enter a list [10,20,30,40]

[10, 20, 30, 40]
<class 'list'>

In [18]:
#range :- range is a data type , who create the sequenece of based o start and end number
#python is zero based index , so that range by default start from zero.
#end position should end with +1.

'''
syntax

range(start,end+1,step)
'''

#range(5)

# print(range(5))

'''for var in range(5):
    print(var)'''

#want to print 1 to 10 help of range

'''for i in range(1,11):
    print(i)'''


#want to print 500 to 603 only odd number

'''for i in range(501,604,2):
    print(i)'''

501
503
505
507
509
511
513
515
517
519
521
523
525
527
529
531
533
535
537
539
541
543
545
547
549
551
553
555
557
559
561
563
565
567
569
571
573
575
577
579
581
583
585
587
589
591
593
595
597
599
601
603

In [32]:
li = [67,90,23,56,43,25,67,43,21,35,6,8,4,3,2,456,6,98,777,876,876,98,987,645,87,45]
# print(li[1::2])
n = len(li)
# print(n)

for i in range(1,n,2):
    print(i+1, li[i])

2 90
4 56
6 25
8 43
10 35
12 8
14 3
16 456
18 98
20 876
22 98
24 645
26 45

In [1]:
#start program
'''
*
*
*
*
*
*
'''

for i in range(5):
    print('*')

*
*
*
*
*

In [14]:
'*****'

for i in range(5):
    print('*',end='')

#escape char in python
'''
in string we are using the escape char.

some times in string 
1.we are break the line and create a new line
2.sometime we will a tab.    gfuyg
3.sometime we will need a backspace
'''

# print('hi this side is Subham,\nam in bhubaneswar')
# print('hi this side is Subham,\tam in bhubaneswar')
# print('hi this side is Subham,\bam in bhubaneswar')

*****

'\nin string we are using the escape char.\n\nsome times in string \n1.we are break the line and create a new line\n2.sometime we will a tab.    gfuyg\n3.sometime we will need a backspace\n'

In [15]:
'''
*
**
***
****
*****
'''


for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [58]:
'''
*****
****
***
**
*
'''

# for i in range(1,6):
#     print('*'*(6-i))

for i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [18]:
'''
*
**
***
****
*****
****
***
**
*
'''


for i in range(1,6):
    print('*'*i)
for j in range(1,5):
    print('*'*(5-j))

*
**
***
****
*****
****
***
**
*

In [22]:
'''
1
22
333
4444
55555
'''

n = int(input('Enter your number:-'))

for i in range(1,n+1):
    print(str(i)*i)

Enter your number:- 5

1
22
333
4444
55555

In [23]:
'''
1
22
333
4444
55555
4444
333
22
1
'''

for i in range(1,6):
    print(str(i)*i)
for j in range(1,5):
    print(str(i)*(5-j))

1
22
333
4444
55555
5555
555
55
5

In [25]:
'''
  *
 * *
* * *
'''

for i in range(1,4):
    print(' '*(3-i),'* '*i)

   *
  * *
 * * *

In [36]:
'''
    *
   ***
  *****
 *******
*********

'''
for i in range(1,6):
    print(' '*(5-i),'*'*(2*i-1))

     *
    ***
   *****
  *******
 *********

In [42]:
'''
*********
 *******
  *****
   ***
    *
'''

'''for i in range(5,0,-1):
    print(' '*(5-i),'*'*(2*i-1))'''

 *********
  *******
   *****
    ***
     *

In [45]:
#nested for 
''' when we will declare for inside a for that's called nested for

collection inside a collection then use nested for.

list -- list
list-- tuple
list-- string
list-- dict
tuple -- tuple 
tuple--list
tuple--string
dict---list
dict--dict




'''

#var : A
#var : B
#bar :C

'''
for var in x:
    for new_var in var
    '''

li = [ 
    [10,20,1],
    [30,40,2],
    [50,60,3],
    [70,80,4,5,6,7,8,9]
]

#var :70,80,4,5,6,7,8,9]
for var in li:#4
    for new_var in var:#17
        print(new_var)

10
20
1
30
40
2
50
60
3
70
80
4
5
6
7
8
9

In [3]:
#range nested for

for i in range(1,6):#outer for loop
    for j in range(1,3):#inner for loop
        print(i,j)

'''
1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
'''

# A- 1 2 3,4
# B- 1 2 3
# C -1 

# for i in my_home:
#     for j in i:
# A1
# A2
# A3
# A4
# B1
# B2
# B3
# C1

1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2

'\n1 1\n1 2\n1 3\n1 4\n1 5\n2 1\n2 2\n2 3\n2 4\n2 5\n'

In [6]:
li = [ 10,78.89,[90,97]]

'''
90
97'''

for i in li:
    if type(i)==list:
        for j in i:
            print(j)

90
97

In [8]:
li = [ 78,79.89,[78,90,'qwerty'],['ty',787]]

for i in li:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                print(j)

qwerty
ty

In [12]:
li = [10,89.90,(56,78),[91,92],{56,76}]
collection_name = [list,tuple,set,frozenset,bytes,bytearray]

for i in li:
    if type(i) in collection_name:
        for j in i :
            print(j)

56
78
91
92
56
76

In [15]:
# li = [[10,20],[30,40]]

# for i in li:
#     for j in i:
#         print(j)

10
20
30
40

In [19]:
# for loop use in a dictionary
'''in dictionary if we are useing normal generic for loop, then only keys are extract.
in dictionary if we are extracting both key and value then use dict items().
'''


di = {'Name':'Vivek','Age':24,'Salary':56000}
print(di.items())

for key,value in di.items():
    print(key,value)

dict_items([('Name', 'Vivek'), ('Age', 24), ('Salary', 56000)])
Name Vivek
Age 24
Salary 56000

In [28]:
di = {'Name':'Vivek','Age':24,'Salary':56000,'subject':['Math','Science','History']}

#normal way

'''for key,value in di.items():
    if key =='subject':
        for j in value:
            print(j)'''

'''for i in di.get('subject'):
    print(i)'''

'''for i in di['subject']:
    print(i)'''

Math
Science
History

In [ ]:
#next upcoming ex
'''
1. for using list with dict
2. for using dict with dict
3. for using in string and some prac problems.
4. for using in list and some prac problem.
5. for using string,list,dict some prac problem
'''

# 6 to 7 class

In [28]:
# for using list with dict

li = [
    {'id':1,'Name':'Chandan','Salary':78000,'Dept':'QA','Language':['Python','Java','C++']},
    {'id':2,'Name':'Vivek','Salary':67000,'Dept':'Dev','Language':['Golang','Perl','C++']},
    {'id':3,'Name':'Ratnakar','Salary':54000,'Dept':'Dev','Language':['C','Java Scripts','Bootsrap']},
    {'id':4,'Name':'Kiran','Salary':84000,'Dept':'QA','Language':['C','dotnet','Golang']},
    {'id':5,'Name':'Nitya','Salary':67000,'Dept':'Cloud','Language':['Python','Java','C++']},
    {'id':6,'Name':'Rupali','Salary':90100,'Dept':'Cloud','Language':['Golang','dotnet','Bootstrap']},
    {'id':7,'Name':'Mohan','Salary':74000,'Dept':'Dev','Language':['Java','Perl','C']},
    
]

'''for i in li:
    print(type(i))'''

#those salary are more then 80k, print them name.
'''for i in li:
    if i['Salary']>80000:
        print(i['Name'])'''

#those dept is QA, print them name.

'''for i in li:
    if i['Dept']=='QA':
        print(i['Name'])'''


#write for program fetch salary less than 60k and above than 90k, add them salary and return those name

'''salary_sum = 0
for i in li:
    if i['Salary']<60000 or i['Salary']>90000:
        print(i['Name'] ,i['Salary'])
        salary_sum = salary_sum+i['Salary']

print(salary_sum)'''
'''li =[10,20,30]

sum=0

for i in li:
    sum = sum+i
print(sum)'''


#if name is kiran fetch language

'''for i in li:
    if i['Name']=='Kiran':
        print(i['Language'])'''


#fetch the name who is preffered python in language.

for i in li:
    if 'Python' in i['Language']:
        print(i['Name'])

Chandan
Nitya

In [18]:
di = {
    "page": 2,
    "per_page": 6,
    "total": 12,
    "total_pages": 2,
    "data": [
        {
            "id": 7,
            "email": "michael.lawson@reqre.in",
            "first_name": "Michael",
            "last_name": "Lawson",
            "avatar": "https://reqres.in/img/faces/7-image.jpg"
        },
        {
            "id": 8,
            "email": "lindsay.ferguson@reqres.in",
            "first_name": "Lindsay",
            "last_name": "Ferguson",
            "avatar": "https://reqres.in/img/faces/8-image.jpg"
        },
        {
            "id": 9,
            "email": "tobias.funke@reqres.in",
            "first_name": "Tobias",
            "last_name": "Funke",
            "avatar": "https://reqres.in/img/faces/9-image.jpg"
        },
        {
            "id": 10,
            "email": "byron.fields@reqres.in",
            "first_name": "Byron",
            "last_name": "Fields",
            "avatar": "https://reqres.in/img/faces/10-image.jpg"
        },
        {
            "id": 11,
            "email": "george.edwards@reqres.in",
            "first_name": "George",
            "last_name": "Edwards",
            "avatar": "https://reqres.in/img/faces/11-image.jpg"
        },
        {
            "id": 12,
            "email": "rachel.howell@reqres.in",
            "first_name": "Rachel",
            "last_name": "Howell",
            "avatar": "https://reqres.in/img/faces/12-image.jpg"
        }
    ],
    "support": {
        "url": "https://contentcaddy.io?utm_source=reqres&utm_medium=json&utm_campaign=referral",
        "text": "Tired of writing endless social media content? Let Content Caddy generate it for you."
    }
}

'''for i in di.keys():
    print(i)'''


#fetch the email id of Lindsay

'''for i in di['data']:
    if i['first_name'] =='Lindsay':
        print(i['email'])'''


#check all the email id domain name is same or not
'''for i in di['data']:
    position_at = i['email'].find('@')
    position_dot = i['email'].find('.in')
    # print(position_at,position_dot)
    domain_check = i['email'][position_at+1:position_dot]
    if domain_check == 'reqres':
        print(True,i['first_name'])
    else:
        print(False,i['first_name'])'''
#fetch those name , id between 10 to 12

'''for i in di['data']:
    if i['id']>=10 and i['id']<=12:
        print(i['first_name'])'''

Byron
George
Rachel

In [23]:
#string iteartion

#all are without using any inbuid function, or mimum using inbuild

'''st = 'vivek dash'

for i in st:
    print(i)'''

#count each occurance of string chars.
'''
1.want to create a dict, coz dict not allowed dupliactes key
2.itearte the string with help of for loop.
3.want to check iteration each value present in the dictionary or not.
4. if it is present then increase value count one by one
5. if it is not present then mention the count is 1.



'''

'''st = 'i love india india is best'

char_count = {}

for i in st:
    if i in char_count:
        char_count[i]+=1
    else:
        char_count[i]=1
print(char_count)'''

#count each word of occurance

st = 'i love india india is best'

'''words = st.split()

word_count = {}

for i in words:
    if i in word_count:
        word_count[i]+=1
    else:
        word_count[i]=1

for k,v in word_count.items():
    if v>1:
        print(k,v)'''


#3
st = 'aabbbaacdddbb'
# output ='2a3b2a1c3d2b'

'''result = ''
count = 1
n = len(st)

for i in range(1,n):#4. b b
    if st[i] == st[i-1]:
        count+=1
    else:
        result = result+str(count)+st[i-1]
        count = 1

result = result+str(count)+st[-1]
print(result)'''

#5  
st = 'HCL123Infosys'
# output = 'LCH123sysofnI'
LCHsysofnI

first_half = []
for i in st:
    if i.isdigit():
        break
    else:
        first_half.append(i)
print(first_half)

second_half = []
for i in st[::-1]:
    if i.isdigit():
        break
    else:
        second_half.append(i)
print(second_half)

merge_list = first_half[::-1]+second_half

result  =''.join(merge_list)
print(result)



    

#4 found the longest substring without any repeatation

# st = 'abccbdabce'
# dabce

#5 write program to reverse a string without using slicing.

'''st = 'qwerty'
rev_st = ''
for i in st:
    rev_st = i+rev_st
print(rev_st)'''

['H', 'C', 'L']
['s', 'y', 's', 'o', 'f', 'n', 'I']
LCHsysofnI

"st = 'qwerty'\nrev_st = ''\nfor i in st:\n    rev_st = i+rev_st\nprint(rev_st)"

In [ ]:
application --- chrome -- firefox -- deployment

In [34]:
#list
#1. sort a list without using inbuit function

'''li = [99,89,23,45,32,27,78,91]
n = len(li)

for i in range(n):
    for j in range(0,n-i-1):
        if li[j]>li[j+1]:
            li[j],li[j+1]=li[j+1],li[j]
print(li)

#acce
#des'''

#write a program find the 2nd largest number in a list.

'''li = [99,89,23,45,32,27,78,91]

max = 0
sec_max = 0
third_max= 0

for i in li:
    if i>max:
        third_max = sec_max
        sec_max = max
        max = i
    elif i>sec_max and i!=max:
        third_max = sec_max
        sec_max = i
    elif i>third_max and i != sec_max:
        third_max = i
print(max)
print(sec_max)
print(third_max)'''


#3 find the missing number in the list

'''li = [3,5,2,1,4,7]
#find length including missing.
n = len(li)+1

excepeted_sum = n*(n+1)//2
actual_sum = sum(li)
missing_num = excepeted_sum - actual_sum
print(missing_num)'''

#4 

'''li = [1,7,5,2,3,6,4]
target = 8
# [(1,7),(5,3),(2,6)

n = len(li)
new_li = []

for i in range(n):
    for j in range(0,n-i-1):
        if li[i]+li[j+i+1] == target:
            new_li.append((li[i],li[j+i+1]))

print(new_li)'''

# 5

li = [10,[20,[30,[40,50,[60]]]]]
ot = [10,20,30,40,50,60]


#list comp
#dict Comp
#terenarry op
#shallow copy
#deep copy
#while
#transfor statement

[20, [30, [40, 50, [60]]]] 20
[20, [30, [40, 50, [60]]]] [30, [40, 50, [60]]]

In [10]:
#list comp


#comprehension :- inside the bracket iterate the for loop and fetch the result and store in that data strc.
#list comp = [i for i in collection]

'''var = [i for i in range(1,11)]
print(var)'''

#terenarry op
#terenarry op :- write if and else condition in a single line.
# syntax

# var = if_statement if condition else else_statement
'''i = 10
var = 'Even' if i%2==0 else 'Odd'
print(var)'''

#write list comprehension generate even of 1 to 11

'''var  = [i for i in range(1,11) if i%2==0]
print(var)'''

#write a list comprehension generate 200 to 300 check the number is pallindrom and even

'''var = [i for i in range(200,301) if i%2==0 if str(i)==str(i)[::-1]]
print(var)'''

[202, 212, 222, 232, 242, 252, 262, 272, 282, 292]

In [16]:
#dict Comp :- {key:value for i in collection}

'''var = {i:i**3 for i in range(1,11)}
print(var)'''

'''li = ['qwerty',56,'ghji','vb',67,'xcvbnm']

var = {i:len(i) for i in li if type(i)==str}
print(var)'''

li = ['qwerty',56,'ghji','vb',67,'xcvbnm']

{'qwerty': 6, 'ghji': 4, 'vb': 2, 'xcvbnm': 6}

In [20]:
#transfor statement(break,continue,pass)
#break :- based the on condition it will break loop, once it breaks loop, not excute any more.

'''for i in range(1,11):
    if i==6:
        break
    print(i)'''

#continue :- skip the iteration based on the condition

'''for i in range(1,11):
    if i%2==0:
        continue
    print(i)
'''
#pass :- pass the statement.
for i in range(1,11):
    pass

if 2%2==0:
    pass

def f1():
    pass

class F:
    pass

6

In [31]:
#shallow copy -- main object -- copy --- main object 
#deep copy
import copy 

old_li = [[10,20],[30,40]]
new_li = copy.copy(old_li)

old_li[0][0]=100

print('old_li:-',old_li)
print('new_li:-',new_li)

#deep copy

old_li = [[10,20],[30,40]]
new_li = copy.deepcopy(old_li)

old_li[0][0]=100

print('old_li:-',old_li)
print('new_li:-',new_li)


#while

old_li:- [[100, 20], [30, 40]]
new_li:- [[100, 20], [30, 40]]

In [ ]:
#while loop
'''
conditional Iteration:- if condition is satisfied then iteration will start, till condition failed.
Boolean 

if statement will True, then iteration will execute, till boolean value is False. that know as while loop

syntax

while condition:
    statement

'''

#write program to print 1 to 10 with the help of while loop.

num = 1 
while num<=10:
    print(num)
    num= num+1

In [ ]:
#print fisrt 10 num sum with help of while loop

In [ ]:


#print fisrt 10 num sum with help of while loop

'''num = 1
sum = 0
while num<=10:
    print(num)
    sum = sum+num
    num= num+1
print(sum)'''

#reverse a string with help of while loop.

'''st = 'Python'
# ot = 'nohtyp'

reverse_st = ''
n = len(st)-1

while n>=0:
    reverse_st = reverse_st+st[n]
    n = n-1
print(reverse_st)'''

#in string the counts the vowels help of while loop.

'''st = 'programming mania'
vowels = 'aeiouAEIOU'
count = 0
i= 0

while i <len(st):
    if st[i] in vowels:
        count = count+1
    i= i+1

print(count)'''


#write while program remove the space in this string.

'''st = 'vivek das'
n  = len(st)-1
i = 0

while i<=n:
    if st[i]!=' ':
        print(st[i])
    i = i+1'''


#have string , from string some space is their and end some space is their, remove spaces.
'''
lstrip
rstrip'''


st = '       vivek das           '


n = len(st)-1
i =0

#i value increase and skip the space
while i<=n and st[i]==' ':
    i= i+1


new_st = ''

while i<len(st):
    new_st = new_st+st[i]
    i=i+1
print(new_st)
print(len(new_st))



#print each char in while loop
#reverse a string using while loop.