In [2]:
#collection :- collection store same and different kind of data inside the closeing brackets

# list
# tuple
# set
# frozenset
# bytes
# bytearray
# dictinary

bytearray

In [7]:
#list 

'''
list is hetrogenous object and its allowed any kind data inside the squre brackets
list enclosed in squre brackets
Every elements separte with another element help of comma.
Its allowed the duplicates element.
its follow the indexing and position is mattered.
list is mutable datatype.
list is growable in nature , it is possiable to add the elements and remove the elements.


'''


li = [78,90.89,9+9j,'Trye',False,[78,90],(78,89),{67,57},{'a':1,'b':2},78,78,90.89]
print(type(li))
print(li)

<class 'list'>
[78, 90.89, (9+9j), 'Trye', False, [78, 90], (78, 89), {57, 67}, {'a': 1, 'b': 2}, 78, 78, 90.89]

78

In [11]:
li = [10,20,30]

li[0] = 100
li

[100, 20, 30]

In [12]:
li = [10,20,30]
print(dir(li))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
#append :- Adds an element at the end of the list, but a single element only

li = [10,20,30]
li.append(40)
li

li.append([100,200,300])
li

[10, 20, 30, 40, [100, 200, 300]]

In [16]:
#insert:- Adds an element at the specified position, but a single element only

li = [10,20,30,40]
# li.insert(postition,value)
li.insert(2,100)
li

[10, 20, 100, 30, 40]

In [27]:
#extend :- Add the elements of a list (or any iterable), to the end of the current list,merge the two list

li1 = [10,20,30]
li2 = [40,50,60]

li2.extend(li1)
li2
li1

[10, 20, 30]

In [29]:
#pop :- 	Removes the element at the specified position, if position not given remove the position value,

li = [10,20,30]
li.pop()
li



li1 = [10,20,30,40,50]
li1.pop(0)
li1

[20, 30, 40, 50]

In [31]:
#remove :-Removes the item with the specified value

li = [10,20,30,20,20,20]
li.remove(20)
li

[10, 30, 20, 20, 20]

In [32]:
#clear:- Removes all the elements from the list

li = [10,20,30,40]
li.clear()
li

[]

In [33]:
#copy :- Returns a copy of the list

li = [10,20,30]

sp = li.copy()
sp

[10, 20, 30]

In [35]:
#reverse :-Reverses the order of the list

li = [65,78,21,34,6,3,89]
li.reverse()
li

[89, 3, 6, 34, 21, 78, 65]

In [38]:
#sort:- sort the list, accending to desending

li = [65,78,21,34,6,3,89]
li.sort()
li = [65,78,21,34,6,3,89]
li.reverse()
li

[3, 6, 21, 34, 65, 78, 89]

In [ ]:
#Tuple 


'''
tuple  is hetrogenous object and its allowed any kind data inside the parenthesis brackets
tuple  enclosed in parenthesis brackets
Every elements separte with another element help of comma.
Its allowed the duplicates element.
its follow the indexing and position is mattered.
tuple is immutable datatype.
tuple is not growable in nature , it is not  possiable to add the elements and remove any elements.


'''

In [4]:
#how to create a tuple 

#1
'''var = (10,20,30,'yuo',(890,90),[78,90])
type(var)'''


var = 10,20,30
print(var)
type(var)

(10, 20, 30)

tuple

In [5]:
#function of tuple

var = (10,20,30)
dir(var)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [7]:
var = (10,10,20,10,20,30,40)
var.count(10)

var.index(30)

5

In [20]:
var = (10,20,10,[45,55,65])

# var[-1]=100
var[-1][0] = 100
var

(10, 20, 10, [100, 55, 65])

In [24]:
import sys

li = [1,2,3,4,5]
tuple = (1,2,3,4,5)

list_size = sys.getsizeof(li)
tuple_size = sys.getsizeof(tuple)

print(list_size,tuple_size)

104 80

In [ ]:
#set ,frozenset,bytes,bytearray

#set 

'''
set data are enclosed in curlly brackets.
it is not allowed any mutable datatype.
indexing is not mattered.
duplicate element is not allowed.
It is a mutable datatype.

'''

In [27]:

# indexing is not mattered.
# duplicate element is not allowed.

se = {10,20,'qwerty',9+9j,10,20,30,40}
type(se)
se

{(9+9j), 10, 20, 30, 40, 'qwerty'}

In [31]:
#it is not allowed any mutable datatype.

se = {10,30,(20,30,40),[100,200]}
se

TypeError: unhashable type: 'list'

In [33]:
#set methods and function

print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [34]:
se = {10,100,160}
se.add(13)
se

{10, 13, 100, 160}

In [36]:
se = {10,100,160}
se.clear()
se

set()

In [44]:
#frozenset
#to make a frozenset , we will required type casting.

'''int(),float(),complex(),bool()
str()
list(),tuple(),set(),frozenset(),bytes(),bytearray()'''

# single datatype should be convert to single datas only.

a = 10
b = float(a)
c = complex(a)
d = bool(a)

In [43]:
#single values not type cast to collections

a = 10
b = list(a)
b

TypeError: 'int' object is not iterable

In [46]:
#collection should convert to a another collection
#list,tuple,set.frozenset,bytes,bytearray

TypeError: 'tuple' object is not callable

In [49]:
# li = [10,10,20,30,40,50,70]

# tup = tuple(li)
# se = set(li)
# fz = frozenset(li)
# by = bytes(li)
# bya = bytearray(li)
# print(bya)

In [50]:
#bytes and bytearray

In [54]:
li = [0,1,2,254,255,256]
by = bytes(li)
by

ValueError: bytes must be in range(0, 256)

In [56]:
li = [65,66,67,97,98,99]
b = bytes(li)
b

b'ABCabc'

In [ ]:
#dictionary
# key and value pairs , keys always look like tables columns and values looks like excel rows.
# keys are always unquie and values are may be same
# key and value pair should maintain in through , : (colon) :- name:ajay
# one key pair seoparate withb another key pair help of ,(comma) :- name:ajay,age:23,salary:90
# key value encloed with {} :- (curly brackets
# key is always take immutable data type.
# values are both accept the mutable and immutable.

In [8]:
di = {'name':'ajay'}
type(di)

dict

In [13]:
di = {'Name':'Sahil','Age':21,'Salary':78000}

#how to access the value. help of key we can access.

# di[key]
# di['Name']

# di['Name'] = 'Ragav'

# di

# di['Address']='BBSR'
# di

# di = {'Name':'Sahil','Age':21,'Salary':78000,'Name':'Ajay'}
# di

{'Name': 'Ajay', 'Age': 21, 'Salary': 78000}

In [14]:
di = {'Name':'Sahil','Age':21,'Salary':78000,'Name':'Ajay'}
dir(di)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [33]:
#clear:-

di = {'Name':'Sahil','Age':21,'Salary':78000,'Name':'Ajay'}
di.clear()
di

{}

In [21]:
#copy:-

di = {'Name':'Sahil','Age':21,'Salary':78000,'Name':'Ajay'}

var1 = di.copy()
var1

{'Name': 'Ajay', 'Age': 21, 'Salary': 78000}

In [24]:
#get():-

di = {'Name':'Sahil','Age':21,'Salary':78000}

# di['Name']
di.get('Age')

21

In [29]:
# keys:-

di = {'Name':'Sahil','Age':21,'Salary':78000}
di.keys()

dict_keys(['Name', 'Age', 'Salary'])

In [28]:
#values

di.values()

dict_values(['Sahil', 21, 78000])

In [30]:
#items():-

di.items()

dict_items([('Name', 'Sahil'), ('Age', 21), ('Salary', 78000)])

In [37]:
#setdefault
di = {'Name':'Sahil','Age':21,'Salary':78000}
# di['Address']='BBSR'
# di


di.setdefault('Address','BBSR')
di

{'Name': 'Sahil', 'Age': 21, 'Salary': 78000, 'Address': 'BBSR'}

In [40]:
#update : merge two dictionary

di1 = {'Name':'A','Age':21}
di2 = {'Salary':45000,'Address':'BBSR'}

di2.update(di1)
di2

{'Salary': 45000, 'Address': 'BBSR', 'Name': 'A', 'Age': 21}

In [42]:
#popitem():- 

di = {'Salary': 45000, 'Address': 'BBSR', 'Name': 'A', 'Age': 21}
di.popitem()
di

{'Salary': 45000, 'Address': 'BBSR', 'Name': 'A'}

In [43]:
#pop

di = {'Salary': 45000, 'Address': 'BBSR', 'Name': 'A', 'Age': 21}
di.pop('Address')
di

{'Salary': 45000, 'Name': 'A', 'Age': 21}

In [54]:
# None :- None Nonthing to their.


bank_debit_card = None
print(type(bank_debit_card))

<class 'NoneType'>

In [58]:
def f1():
    a = 10

print(f1())

None

In [ ]:
#garbage collection
# in variable how to store data
# in backend how data look like
#heep memory and stack memory

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
HBjjk_67 = 90

In [4]:
6hj = 90

SyntaxError: invalid decimal literal (2969110590.py, line 1)