In [1]:
li = [10,20,30]

for i in li:
    print(i+5)

15
25
35

In [2]:
li = [11,14,78,65,41,89,90,71]

for i in li:
    if i%2==0:
        print(i,'is even')
    else:
        print(i,'is odd')

11 is odd
14 is even
78 is even
65 is odd
41 is odd
89 is odd
90 is even
71 is odd

In [4]:
st = 'b1ichi2tra3'

for i in st:
    if i.isdigit():
        print(i)

1
2
3

In [7]:
li = [ 'pop','jkl','tyu','sws','lpl','mmn','asd']


for i in li:
    if i == i[::-1]:
        print(i,'pallindrom')

jkl not pallindrom
tyu not pallindrom
mmn not pallindrom
asd not pallindrom

In [ ]:
1. Write a program , in collction of int list, calculate sum of of the list.
2. write program fetch special char in string, ex := qwe#y4#@

In [6]:
li = [90,2,3,21,45,67,89,21]



sum = 0

for i in li:
    sum = sum + i 

print(sum)

338

In [12]:
st = 'qwe#y4#@'

for i in st:
    if not i.isalpha() and not i.isdigit():
        print(i)

# i.alnum()

#
#
@

In [19]:
#range :- generate the sequence of numbers only numeric values


# range(start,end+1 , steps)

for i in range(1,11):
    print(i)


for i in range(500,521,5):
    print(i)

1
2
3
4
5
6
7
8
9
10
500
505
510
515
520

In [23]:
#write program check the pallindrom number ,1 to 1000.

'''

1.write a for loop with help of range generating 1 to 1000.
2.type case int to string 
3.then write condtiona and check main int to reverse int
4.Those are pallindrom , write this one.

'''

for i in range(1,1001):
    s = str(i)
    if s == s[::-1] and len(s)>=3:
        print(i)

101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

In [25]:
#star programs

'''
*
*
*
*
*

'''

for i in range(5):
    print('*')

*
*
*
*
*

In [29]:
'''
*
**
***
****
*****
'''

# for i in range(5):
#     print('*'*(i+1))

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [2]:
'''
*****
****
***
**
*


'''


for i in range(5):
    print('*'*(5-i))

*****
*
****
**
***
***
**
****
*
*****

In [7]:
'''
*
***
*****
*******
'''

for i in range(1,8,2):
    print('*'*i)

*
***
*****
*******

In [8]:
'''
*****
****
***
**
*
**
***
****
*****
'''


for i in range(5):
    print('*'*(5-i))

for i in range(2,6):
    print('*'*i)

*****
****
***
**
*
**
***
****
*****

In [11]:
'''
    *
   **
  ***
 ****
*****
'''

for i in range(5):
    print(' '*(4-i),'*'*(i+1))

     *
    **
   ***
  ****
 *****

In [18]:
'''
******* 0 7
  ***** 2. 5
    *** 4. 3
       * 6. 1

'''

for i in range(0,8,2):
    print(' '*i,'*'*(7-i))

 *******
   *****
     ***
       *

In [24]:
'''
    *
   * *
  * * * 
 * * * *
* * * * *
'''
# 4 1
# 3 2
# 2 3
# 1 4
# 0 5

for i in range(5):
    print(' '*(4-i),'* '*(i+1))

     *
    * *
   * * *
  * * * *
 * * * * *

In [27]:
'''
* * * * *
 * * * *
  * * *
   * *
    *
'''
# 0 5
# 1 4
# 2 3
# 3 2
# 4 1

for i in range(5):
    print(' '*i,'* '*(5-i) )

 * * * * *
  * * * *
   * * *
    * *
     *

In [3]:
#Nested for :- 

# outer statement ---- a another statement(inner)


# for i in range(5):#i = 1
#     for j in range(5):
#         print(i,j)


# for i in range(2,8,2):#2 4 6
#     for j in range(5):# 0 1 2 3 4
#         print(i,j)

2 0
2 1
2 2
2 3
2 4
4 0
4 1
4 2
4 3
4 4
6 0
6 1
6 2
6 3
6 4

In [5]:
# extract the element from falttened list

li = [ [10,20],[30,40],[50,60],[70,80]]

for i in li:#[10,20]
    for j in i:
        print(j)

10
20
30
40
50
60
70
80

In [7]:
#extract even numbers from a list, add them in a another list

li = [10,23,45,32,12,57,43,21,89,90]

#create a empty list
even_li = []

#interate the loop
for i in li:
    if i%2==0:
        even_li.append(i)

print(new_li)

[10, 32, 12, 90]

In [8]:
li = [10,89,'yuio',78,23,'ghju',45,'nhyhj']

int_li = []
str_li = []

for i in li:
    if type(i) == int:
        int_li.append(i)
    elif type(i) == str:
        str_li.append(i)

print(int_li)
print(str_li)

[10, 89, 78, 23, 45]
['yuio', 'ghju', 'nhyhj']

In [9]:
#count the sum of a list.

li = [11,33,22,55,67,43,21]

result = 0

for i in li:
    result= result+i
print(result)

252

In [15]:
#write program reverse a list without using any inbuid function

li = [90,67,21,34,56]
# print(li[::-1])

# op :- [56,34,21,67,90]

new_li = []

for i in li:
    new_li.insert(0,i)

print(new_li)

[56, 34, 21, 67, 90]

In [16]:
for i in range(5):#0 1 2 3 4 
    for j in range(5):# 0 1 2 3 4


li = [[12,13],[90,89,88,87],[90]]

for i in li:# 2
    for j in i :

0
1
2
3
4