In [7]:
#string?
'''Collection of alpha, numeric and special char, know as string and a python string should be enclosed in  
single :- ''
double :- ""
triple cot :- ''' ''', """ """ 


A-Z
a-z
0-9
!@#$%^&*()_+{":><>?":{

'''

# var = "Gagan"

''' where we can use single cot, double cot and triple cot'''

# signle cot and doubl used for data declaration

# var  = ? string data declrartion

# triple cot used?
# '''multiline comment'''
# doc string :- documentation string


# function(prepaid bill deduction):
#     ''' why this function was written, and how to use this function'''

'multiline comment'

In [24]:
#What is slicing in string?
'''peace of the string'''
''' 
In String , python provides the indexing
indexing both +ve and - ve indexing
Right to left -ve indexing
Left to right +ve indexing
'''


var = 'Bhubaneswar'
# print(len(var))


#formula
# var_name[start:end+1:steps]

# print(var[0:3])
# print(var[-5:])
# print(var[3:7])
# print(var[::-1])
# print(var[6:2:-1])

Bhu
eswar
bane
rawsenabuhB
enab

In [29]:
# string arithmetic operation
# string addition , string multiplication

''' String add with a another string only'''

# a = 'AB'
# b = 'CD'
# print(a+b)

'''string multiple with a int only'''
'''a = 'AB'
b = 20
print(a*b)'''

ABABABABABABABABABABABABABABABABABABABAB

In [9]:
# Create a unqiue password

Name = 'Bhabanishank Debata'
dob = '19/06/1996'
address = 'Bhubaneswar'
vichel = 'OD-02-AB-9187'
house_addres = 'LIG-206/1st'


# name first 4 char and last 4 char
# dob - month only
# address - last 4 char reverse string
# vichel :- Area code reverse 3times
# House :- first 7 char rev

# Bhabatab06raws020202602-GIL

password = Name[0:4]+Name[-4:]+dob[3:5]+address[-1:-5:-1]+vichel[4:2:-1]*3+house_addres[-5::-1]
print(password)

Bhabbata06raws202020602-GIL

In [13]:
#what is mutable and immutable ?

'''
Those datatype are changeable and element modification is possiable known as mutable datatype.
Those datatype are not changeable and element modification is not possiable is known as immutbale datatype.
'''

'''String is a immutable datatype'''

QWERTY
QWERTY

In [15]:
#own functionality

a = 10
print(type(a))

<class 'int'>

In [17]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [19]:
var = 'qwerty'
print(dir(var))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#https://www.w3schools.com/python/python_ref_string.asp (methods means)

In [22]:
#capitalize():- Converts the first character to upper case

var = 'qwerty'
print(var.capitalize())

Qwerty

In [26]:
#startswith(single_value):- Return the bool value, 	Returns true if the string starts with the specified value

var = 'qwerty'
print(var.startswith('qw'))

True

In [27]:
#endswith(single_value):-Returns true if the string ends with the specified value

var = 'qwerty'
print(var.endswith('y'))

True

In [28]:
#upper():- 	Converts a string into upper case

var = 'QweeTYnjm'
print(var.upper())

QWEETYNJM

In [29]:
#lower():- 	Converts a string into lower case

var = 'QweeTYnjm'
print(var.lower())

qweetynjm

In [36]:
#count(value) :- Returns the number of times a specified value occurs in a string

st = 'i love india, india is best'
# print(len(st))
print(st.count('i'))

6

In [39]:
#replace(old,new) :- Returns a string where a specified value is replaced with a specified value

st = 'honney hocky'

print(st.replace('honney','jonney'))

jonney hocky

In [50]:
#is methods:- 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper

'''is methods return the boolean values'''

s = '1234'
print(s.isdecimal())

True

In [4]:
#strip :- 	Returns a trimmed version of the string


st = '        bhubaneswar        '
print(st.strip())
print(st.lstrip())
print(st.rstrip())

bhubaneswar is        city
bhubaneswar is        city
        bhubaneswar is        city

In [12]:
#split:- Splits the string at the specified separator, and returns a list

st = 'Abhijeet Abhiman Abhilash Abhilipsa'
print(st.split())

['Abhijeet', 'Abhiman', 'Abhilash', 'Abhilipsa']

In [16]:
#join :- Converts the elements of an iterable into a string

collection = ['Abhijeet', 'Abhiman', 'Abhilash', 'Abhilipsa']

print(' '.join(collection))

Abhijeet Abhiman Abhilash Abhilipsa

In [34]:
#find :- Searches the string for a specified value and returns the position of where it was found
#index :- 	Searches the string for a specified value and returns the position of where it was found

''' find :- if element is not present then return the -1
    index :- if element is nor present it will raise a error :- ValueError
'''


st = 'qwertyqh'
print(st.find('qh'))
# print(st.index('z'))

6

In [30]:
#format:- 	Formats specified values in a string
''' f string '''

a = 1000
b = 2056

res = a+b

print(f'a is {a}, b is {b} and the sum is {res}')

a is 1000, b is 2056 and the sum is 3056

In [47]:
st= 'jyoti ranjan'

print(st[::-1])
print(st[-1:-7:-1])
print(st[12:5:-1])

najnar itoyj
najnar
najnar